.canvas__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: 50;
  width: 200px;

  @media (min-width: $tablet) {
    width: 500px;
    top: 70px;
  }
}

.canvas__info-item {
  color: #000;

  & span {
    color: #f92626;
    font-weight: bold;

  }

  @media (min-width: $tablet) {
    font-size: 40px;

    & span {
      font-size: 41px;
    }
  }
}
